
body {
  background-color:#cad1d1;
  color:rgb(55, 56, 52);
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
  font-weight: normal;
  line-height:1.6em;
  margin:0px;
}

#main-header{
  background-color:coral;
  color:#fff;
}

  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }

  .container h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.container-1{   
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#company-box{
    background-color: #d6d688;
    color: rgb(150, 39, 39);
    border: 5px #00b7ff solid;
    padding: 20px;
    margin-top: 20px 0;   
}

.activated {
    background-color:#28d0e6;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid;
    color: white;  
}

#company-box h2 {
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.container-2{ 
    width: 80%;
    margin: auto;
}

#order-box{
    background-color: #333;
    color: #fff;
    border: 5px red solid;
    padding: 20px;
    margin-top: 20px 0;
    border-radius: 15px;
}

#order-box h2{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
 
.button{
    background-color: #333;
    color:#fff;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background: #a6ccc8;
}

.my-form {
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
   /* background-image: url('images/pngtree-a-glass-of-fresh-beer-png-image_2696071');  */
    background-repeat: repeat;
    background-position: 50px 100px;
    background-position: center top;
}

.my-form .form-group {
    padding-bottom: 10px;
}

.my-form label {
    display: block;
}

.my-form input[type="text"] {
    padding: 8px;
    width: 60%;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: left;
    padding: 20px;
    margin-top: 40px;
} 
@keyframes TackyGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }  

  
  /* background: linear-gradient(200deg, rgb(245, 238, 53), hsl(58, 87%, 56%));
  background-size: 600% 600%;
  background-attachment: fixed;
  height: 100%;
  min-height: 100%;
  animation: TackyGradient 12s ease infinite; */ 

 /* html {
    background: linear-gradient(200deg, rgb(245, 238, 53), hsl(58, 87%, 56%));
    background-size: 600% 600%;
    background-attachment: fixed;
    height: 100%;
    min-height: 100%;
    animation: TackyGradient 12s ease infinite;
  }
  html * {
     font-family: sans-serif !important;
  }
  
  #comments {
    margin: 25px auto;
    padding: 20px;
    width: 500px;
    height: auto;
    background-color: rgb(245, 245, 250);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .comment {
    width: 100%;
    display: grid;
  }
  
  .field {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
  }
  
  button {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid rgb(40, 160, 230);
    color: rgb(15, 40, 23);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
  }
  
  .activated {
    background-color:rgb(241, 220, 24);
    border-radius: 0px 5px 5px 0px;
    border: 1px solid;
    color: white;
  }
  
  .btn:hover {
    background-color: rgb(230, 240, 250);
  }
  
  input[type="text"] {
    padding: 10px 20px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid rgb(220, 225, 230);
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
  }

  
   /* @keyframes TackyGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }  
  .beer-image {
  justify-self: center;
  height: 12rem;
  width: auto;
  background-image:url('../brewery/pngtree-a-glass-of-fresh-beer-png-image_2696071');
} 

 

/* body {
    background-color: #ffcc00;
    bacground-image:url('../brewery/pngtree-a-glass-of-fresh-beer-png-image_2696071');

} 
.activated {
  background-color:rgb(40, 160, 230);
  border-radius: 0px 5px 5px 0px;
  border: 1px solid;
  color: white;
} */  
